doctype html
include partials/head.pug
body
  mixin formatDate(date)
    - const dateFormatted = date.split('T')[0];
    - const timeFormatted = date.match(/\d\d:\d\d/);
    time(class!=attributes.class, datetime=date) #{dateFormatted}, #{timeFormatted}

  .wrapper
    include partials/header.pug
    block content
    include partials/footer.pug

  script(src="/js/vendor.js")
  script(src="/js/main.js")
